<div class="text-center text-light m-5 bg-color">
    <h2 id="contactanos" class="text-decoration-underline fs-1"><i class="bi bi-gear-fill"></i>Contáctanos</h2>
  </div>

  <div class="container">
    <div class=" text-light text-xl-center bg-color">
      <h1 class="texto"> ¿TIENES DUDAS ACERCA DE NUESTROS SERVICIOS? </h1>
    
    
      <p> Ponte en contacto con nosotros dejándonos tus comentarios por medio del siguiente enlace:</p>
    
    </div>
    
    
    <div class="mb-3 py-4">
      <label for="exampleFormControlInput1" class="form-label text-light">E - mail </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu correo electrónico">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label text-light">¡DEJANOS TUS COMENTARIOS!</label>
      <textarea class="form-control py-5" id="exampleFormControlTextarea1" rows="3"></textarea>
      <br>
      <a id="enviarDatos" href="#" class="btn btn-outline-warning my-5">ENVIAR</a>
    </div>
  </div>