<div class="container">
    <div class="titulo text-center my-5 fs-1">
      <h1 class="text-warning my-5">
        ¡Bienvenido!
      </h1>
    </div>
    <div class="contenido text-white fs-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur temporibus placeat veniam vero! Tempora labore, quaerat in velit dolores recusandae facilis. Rem, maiores reiciendis? Neque alias aspernatur nam asperiores quia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fuga aperiam quos, tempore, nemo omnis magnam molestiae dignissimos praesentium placeat quis consequuntur explicabo fugiat eum quo ullam nesciunt unde saepe! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, odit earum voluptatum rem perferendis labore necessitatibus. Quod ducimus, quisquam vel ullam harum omnis hic minima, reprehenderit, consequatur modi quia cupiditate.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere explicabo aliquam voluptas architecto beatae ipsa facilis, quis recusandae itaque officia ea ducimus nesciunt corporis inventore culpa esse expedita sint ex!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatem veniam, enim omnis beatae dignissimos pariatur est? Aut blanditiis, voluptates illo necessitatibus quam, iste perspiciatis cupiditate laborum ratione natus eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex id ipsum illo maiores quisquam molestiae necessitatibus ipsa fuga alias nesciunt eveniet voluptatibus, laudantium ullam nobis iusto! Eum ipsam fuga veritatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates assumenda modi doloribus voluptas non quisquam ea. Pariatur culpa temporibus dicta sapiente aspernatur similique alias expedita incidunt delectus, sunt quidem!Lorem
      </p>
    </div>
  </div>