<div class="container my-5">

    <p class="text-center text-light fs-1 my-5">
        Enterate de lo último en noticias relacionado con vehiculos
    </p>
   
     
    <h2 class="my-2 text-start text-warning my-2">
        Asalto de vehiculo en atasco
    </h2>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/5QWkW_t2L6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 class="my-2 text-start text-warning my-5">
        Identificación lateral y superior
    </h2>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/1mr1vjHEAQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 class="my-2 text-start text-warning my-5">
        Banda de ladrones del carro gris
    </h2>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/1CCyb5YpNis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
